<html>
<head>
  <title>Recipe Box</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      -
      <a href="/recipe_add">Add a Recipe</a>
      -
      <a href="/recipe">List of Recipes</a>
    <%= yield %>
  </div>
</body>
</html>
